In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
directory = '../../../../Data/School/0001/'
file_name_label = '0001_otsu label.txt'

file_label = os.path.join(directory, file_name_label)

Bad key "text.kerning_factor" on line 4 in
/Users/satoshi/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
file_name_data = '0001_otsu.dat'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = '\t', error_bad_lines = False)

In [3]:
df

,gakkou,seibetu,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,q3.1,q3.2,...,q4.3.2,q6,q7,q8,q9.1.2,q9.2,q10,q11,q12,q13
0,101,1,2,,,,,,1,3,...,11,33,1,1000,2014,1,5650,2,4,
1,101,1,2,,,,,,1,2,...,4,36,10,1000,2013,1,5300,2,1,
2,101,1,5,,,,,,1,1,...,5,36,1,1000,2021,1,6700,2,1,
3,101,1,1,,,,,,2,2,...,5,36,1,1000,2011,1,6000,2,1,
4,101,1,5,,,,,,2,3,...,6,36,1,1000,2011,1,5800,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,1312,2,5,4,,,,,2,3,...,9,22,93,200,1074,9,3500,1,3,
13099,1312,2,5,4,,,,,2,2,...,7,22,93,200,1073,9,3500,1,3,
13100,1312,2,5,4,,,,,2,1,...,6,22,93,200,1073,9,3500,1,3,
13101,1312,2,5,4,,,,,2,2,...,7,22,150,120,1071,9,1000,1,9,
13102,1312,2,5,4,,,,,2,1,...,3,7,160,6,6014,2,0,1,5,

In [4]:
abbrevaiton = {
    'GNDR': 'gender',
    'M':'male',
    'F':'female',
    'GDN':'guardian',
    'AFF':'Agriculture Forestry and Fishing',
    'MFG':'Manufacturing',
    'COM':'Commerce',
    'SRV':'Service',
    'LI':'Light Industry',
    'HI':'Heavy Industry',
    'ORS':'Others',
    'WC':'White Collar',
    'UE':'Unemployed',
    'UNK':'Unknown',
    'RSN':'reason',
    'SZ':'size',
    'FB':'family business',
    'URB':'urban',
    'WF':'Water Front',
    'RUR':'rural',
    'SUB':'suburb',
    'SCH':'school',
    'CONN':'connection',
    'DCT':'direct',
    'COMM':'commute',
    'CH':'channel',
    'SAL':'salary',
    'LCTN':'location',
}

In [5]:
gndr = {
    1:'M',
    2:'F'
}

In [6]:
gdn_occ = {
    1:'AFF',
    2:'AFF',
    3:'AFF',
    4:'MFG',
    5:'MFG',
    6:'SRV',
    7:'SRV',
    8:'SRV',
    9:'SRV',
    10:'WC',
    11:'ORS',
    12:'ORS',
    13:'ORS',
    14:'UE',
    15:'UK',
    99:'UNK',
}

In [7]:
heir = {
    1:'Y',
    2:'N',
    9:'UNK'
}

In [8]:
gdn_rel = {
    1: 'Eldest son / daughter',
    2: 'Second son / daughter',
    3: 'Third son / daughter',
    4: 'Fourth or more',
    5: 'Brother / Sister',
    6: 'Nephew Niece',
    7: 'UNK'
}

In [9]:
ind = {
    1: 'AFF',
    2: 'AFF',
    3: 'AFF',
    4: 'MFG_ORS',
    5: 'MFG_ORS',
    6: 'MFG_ORS',
    7: 'COM',
    8: 'SRV',
    9: 'COM',
    10: 'SRV',
    11: 'COM',
    12: 'COM',
    13: 'COM',
    14: 'SRV',
    15: 'SRV',
    16: 'SRV',
    17: 'SRV',
    18: 'SRV',
    19: 'SRV',
    20: 'LI',
    21: 'LI',
    22: 'LI',
    23: 'LI',
    24: 'LI',
    25: 'LI',
    26: 'LI',
    27: 'LI',
    29: 'HI',
    30: 'HI',
    31: 'LI',
    32: 'LI',
    33: 'HI',
    34: 'HI',
    35: 'HI',
    36: 'HI',
    37: 'HI',
    38: 'HI',
    39: 'MFG_ORS',
    40: 'MFG_ORS',
    41: 'SRV',
    42: 'UNK',
    43: 'UNK',
    99: 'UNK'
}

In [10]:
lctn = {
    1: '1',
    9: '9',
    10: '10',
    11: '11',
    12: '12',
    13: '13',
    14: '14',
    15: '15',
    16: '16',
    17: '17',
    18: '18',
    19: '19',
    20: '20',
    30: '30',
    40: '40',
    41: '40',
    42: '40',
    50: '50',
    60: '60',
    70: '70',
    80: '80',
    90: '90',
    91: '91',
    92: '92',
    93: '93',
    101: '101',
    102: '102',
    110: '110',
    120: '120',
    130: '130',
    140: '140',
    150: '999',
    160: '999',
    999: '999',
}

In [11]:
ch = {
    1: 'SCH',
    2: 'SCH',
    3: 'SCH',
    4: 'CONN',
    5: 'CONN',
    6: 'CONN',
    7: 'DCT',
    8: 'ORS',
    9: 'DCT',
    99: 'UNK',
}

In [12]:
comm = {
    1: 'N',
    2: 'Y',
    9: 'UNK',
}

In [13]:
def apply_dict(col, dictionary, df = df):
    df[col] = df[col].map(dictionary)

In [14]:
col_dict = [['seibetu', gndr],
            ['q3.1', heir],
            ['q3.2', gdn_rel],
            ['q4.1', gdn_occ],
            ['q6', ind],
            ['q7', lctn],
            ['q12', ch],
            ['q11', comm],
           ]

In [15]:
for item in col_dict:
    col = item[0]
    dictionary = item[1]
    apply_dict(col, dictionary)

In [16]:
col_names = {
    'seibetu' : 'gndr',
    'q3.1' : 'heir',
    'q3.2' : 'gdn_rel',
    'q4.1' : 'gdn_occ',
    'q4.3.2': 'fam_sz',
    'q6': 'ind',
    'q7': 'lctn',
    'q8': 'frm_sz',
    'q10': 'sal',
    'q11': 'comm',
    'q12': 'ch',
}

In [17]:
df.rename(columns = col_names, inplace=True)

In [18]:
df

,gakkou,gndr,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,heir,gdn_rel,...,fam_sz,ind,lctn,frm_sz,q9.1.2,q9.2,sal,comm,ch,q13
0,101,M,2,,,,,,Y,Third son / daughter,...,11,HI,1,1000,2014,1,5650,Y,CONN,
1,101,M,2,,,,,,Y,Second son / daughter,...,4,HI,10,1000,2013,1,5300,Y,SCH,
2,101,M,5,,,,,,Y,Eldest son / daughter,...,5,HI,1,1000,2021,1,6700,Y,SCH,
3,101,M,1,,,,,,N,Second son / daughter,...,5,HI,1,1000,2011,1,6000,Y,SCH,
4,101,M,5,,,,,,N,Third son / daughter,...,6,HI,1,1000,2011,1,5800,Y,SCH,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,1312,F,5,4,,,,,N,Third son / daughter,...,9,LI,93,200,1074,9,3500,N,SCH,
13099,1312,F,5,4,,,,,N,Second son / daughter,...,7,LI,93,200,1073,9,3500,N,SCH,
13100,1312,F,5,4,,,,,N,Eldest son / daughter,...,6,LI,93,200,1073,9,3500,N,SCH,
13101,1312,F,5,4,,,,,N,Second son / daughter,...,7,LI,999,120,1071,9,1000,N,DCT,
13102,1312,F,5,4,,,,,N,Eldest son / daughter,...,3,COM,999,6,6014,2,0,N,CONN,

In [19]:
_df = df[['gndr', 'ind' , 'lctn', 'ch', 'gdn_occ']]

In [20]:
_df

      gndr  ind lctn    ch gdn_occ
0        M   HI    1  CONN     ORS
1        M   HI   10   SCH      UE
2        M   HI    1   SCH     MFG
3        M   HI    1   SCH      UE
4        M   HI    1   SCH      UE
...    ...  ...  ...   ...     ...
13098    F   LI   93   SCH     AFF
13099    F   LI   93   SCH     AFF
13100    F   LI   93   SCH     AFF
13101    F   LI  999   DCT     AFF
13102    F  COM  999  CONN     AFF

[13103 rows x 5 columns]

In [21]:
get_dummy_list = ['gndr', 'ch', 'ind', 'gdn_occ']

In [22]:
for column in get_dummy_list:
    _df = pd.get_dummies(_df, columns = [column])

In [23]:
_df.columns

Index(['lctn', 'gndr_F', 'gndr_M', 'ch_CONN', 'ch_DCT', 'ch_ORS', 'ch_SCH',
       'ch_UNK', 'ind_AFF', 'ind_COM', 'ind_HI', 'ind_LI', 'ind_MFG_ORS',
       'ind_SRV', 'ind_UNK', 'gdn_occ_AFF', 'gdn_occ_MFG', 'gdn_occ_ORS',
       'gdn_occ_SRV', 'gdn_occ_UE', 'gdn_occ_UK', 'gdn_occ_UNK', 'gdn_occ_WC'],
      dtype='object')

In [24]:
_df

,lctn,gndr_F,gndr_M,ch_CONN,ch_DCT,ch_ORS,ch_SCH,ch_UNK,ind_AFF,ind_COM,...,ind_SRV,ind_UNK,gdn_occ_AFF,gdn_occ_MFG,gdn_occ_ORS,gdn_occ_SRV,gdn_occ_UE,gdn_occ_UK,gdn_occ_UNK,gdn_occ_WC
0,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,10,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,93,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13099,93,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13100,93,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13101,999,1,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13102,999,1,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0

In [25]:
_df_grouped = _df[_df.lctn != '999'].groupby('lctn').sum().reset_index()

In [26]:
_df_grouped

,lctn,gndr_F,gndr_M,ch_CONN,ch_DCT,ch_ORS,ch_SCH,ch_UNK,ind_AFF,ind_COM,...,ind_SRV,ind_UNK,gdn_occ_AFF,gdn_occ_MFG,gdn_occ_ORS,gdn_occ_SRV,gdn_occ_UE,gdn_occ_UK,gdn_occ_UNK,gdn_occ_WC
0,1,963.0,1108.0,357.0,6.0,1.0,1621.0,86.0,1.0,171.0,...,85.0,8.0,230.0,865.0,173.0,235.0,268.0,15.0,0.0,285.0
1,10,324.0,599.0,181.0,0.0,0.0,689.0,53.0,0.0,41.0,...,34.0,3.0,69.0,367.0,84.0,84.0,159.0,34.0,2.0,124.0
2,101,59.0,63.0,61.0,1.0,0.0,45.0,15.0,2.0,29.0,...,22.0,6.0,47.0,16.0,13.0,14.0,17.0,1.0,0.0,14.0
3,102,141.0,175.0,117.0,2.0,0.0,191.0,6.0,12.0,77.0,...,37.0,9.0,163.0,42.0,26.0,27.0,37.0,3.0,0.0,18.0
4,11,129.0,86.0,51.0,0.0,0.0,100.0,64.0,0.0,16.0,...,8.0,6.0,76.0,55.0,14.0,23.0,27.0,0.0,0.0,20.0
5,110,160.0,90.0,109.0,13.0,0.0,97.0,31.0,13.0,73.0,...,35.0,9.0,152.0,32.0,12.0,19.0,25.0,1.0,0.0,9.0
6,12,89.0,109.0,70.0,2.0,1.0,117.0,8.0,1.0,43.0,...,24.0,10.0,47.0,49.0,20.0,17.0,37.0,6.0,1.0,21.0
7,120,45.0,34.0,33.0,3.0,0.0,13.0,30.0,2.0,14.0,...,12.0,2.0,58.0,7.0,7.0,3.0,2.0,0.0,0.0,2.0
8,13,152.0,218.0,150.0,7.0,0.0,195.0,18.0,0.0,81.0,...,53.0,4.0,45.0,111.0,39.0,45.0,57.0,4.0,0.0,69.0
9,130,106.0,55.0,53.0,0.0,0.0,90.0,18.0,5.0,15.0,...,15.0,6.0,67.0,23.0,14.0,26.0,18.0,1.0,0.0,12.0
10,14,177.0,369.0,168.0,4.0,0.0,357.0,17.0,1.0,114.0,...,59.0,7.0,42.0,171.0,72.0,83.0,105.0,11.0,0.0,62.0
11,140,385.0,426.0,291.0,2.0,0.0,425.0,93.0,4.0,243.0,...,99.0,13.0,201.0,143.0,94.0,145.0,145.0,5.0,0.0,78.0
12,15,270.0,252.0,246.0,13.0,1.0,248.0,14.0,0.0,223.0,...,148.0,6.0,24.0,133.0,82.0,87.0,112.0,5.0,0.0,79.0
13,16,263.0,299.0,197.0,7.0,0.0,349.0,9.0,0.0,137.0,...,44.0,7.0,43.0,152.0,75.0,89.0,111.0,8.0,0.0,84.0
14,17,61.0,72.0,77.0,0.0,0.0,50.0,6.0,0.0,40.0,...,13.0,2.0,9.0,43.0,26.0,15.0,20.0,0.0,0.0,20.0
15,18,41.0,57.0,26.0,1.0,0.0,71.0,0.0,0.0,17.0,...,8.0,1.0,7.0,37.0,16.0,10.0,16.0,0.0,0.0,12.0
16,19,124.0,174.0,46.0,3.0,0.0,227.0,22.0,1.0,35.0,...,15.0,4.0,84.0,58.0,34.0,44.0,43.0,4.0,0.0,31.0
17,20,150.0,171.0,90.0,11.0,0.0,198.0,22.0,2.0,118.0,...,37.0,28.0,78.0,66.0,39.0,48.0,52.0,13.0,0.0,25.0
18,30,23.0,32.0,26.0,6.0,0.0,19.0,4.0,1.0,21.0,...,8.0,6.0,8.0,14.0,11.0,6.0,9.0,2.0,0.0,5.0
19,40,544.0,709.0,411.0,71.0,0.0,734.0,37.0,12.0,359.0,...,187.0,31.0,108.0,359.0,260.0,110.0,262.0,31.0,0.0,123.0
20,50,37.0,42.0,40.0,0.0,0.0,36.0,3.0,9.0,26.0,...,19.0,0.0,39.0,7.0,5.0,9.0,16.0,0.0,0.0,3.0
21,60,185.0,210.0,127.0,2.0,2.0,190.0,74.0,1.0,75.0,...,40.0,9.0,129.0,61.0,32.0,45.0,70.0,6.0,0.0,52.0
22,70,70.0,109.0,72.0,0.0,1.0,69.0,37.0,1.0,35.0,...,16.0,6.0,62.0,27.0,10.0,22.0,28.0,5.0,0.0,25.0
23,80,202.0,252.0,238.0,14.0,2.0,151.0,49.0,0.0,149.0,...,51.0,20.0,144.0,69.0,42.0,61.0,86.0,5.0,0.0,47.0
24,9,79.0,146.0,118.0,11.0,0.0,80.0,16.0,0.0,62.0,...,33.0,12.0,43.0,50.0,28.0,22.0,44.0,4.0,0.0,34.0
25,90,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26,91,78.0,74.0,75.0,2.0,0.0,58.0,17.0,2.0,44.0,...,42.0,3.0,81.0,16.0,10.0,8.0,15.0,1.0,0.0,21.0
27,92,12.0,18.0,18.0,2.0,0.0,10.0,0.0,0.0,15.0,...,6.0,4.0,14.0,1.0,6.0,2.0,4.0,0.0,0.0,3.0
28,93,113.0,76.0,67.0,8.0,0.0,101.0,13.0,5.0,48.0,...,34.0,5.0,97.0,29.0,12.0,23.0,15.0,3.0,0.0,10.0

In [27]:
_df_grouped.to_csv('_df_grouped.csv')

In [33]:
_df_gdn_AFF = _df[_df.gdn_occ_AFF == 1]

In [35]:
_df_gdn_AFF_grouped = _df_gdn_AFF[_df_gdn_AFF.lctn != '999'].groupby('lctn').sum().reset_index()

In [37]:
_df_gdn_AFF_grouped.to_csv('_df_gdn_aff_grouped.csv')