In [27]:
import pandas as pd
import os

directory = '../../Data/School/0001'
file_name_label = '0001_kou label.txt'

file_label = os.path.join(directory, file_name_label)

In [28]:
file_name_data = '0001_kou.dat'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = '\t', error_bad_lines = False)

In [29]:
df

,gakkou,q1.1,q1.2,q1.3,q1.4,q1.5,q1.6,q1.7,q2.1,q2.2,q2.3,q2.4,q2.5,q2.6,q2.7
0,101,172,43,18,91,4,13,3,157,58,4,69,1,25,0
1,102,141,64,6,62,2,7,0,131,37,2,66,1,25,0
2,103,300,218,8,56,0,18,0,217,144,3,57,0,13,0
3,104,219,115,18,80,1,4,1,168,83,8,69,0,8,99
4,105,220,67,18,133,0,2,99,232,74,10,131,0,17,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,1308,52,30,3,11,1,7,0,50,22,0,14,0,14,0
184,1309,29,13,4,7,0,4,1,31,8,0,15,0,7,1
185,1310,27,6,1,4,4,12,0,14,4,0,8,0,2,0
186,1311,32,3,0,6,2,20,1,30,8,0,10,0,12,0
187,1312,23,8,0,7,2,5,1,25,6,0,11,0,7,1

In [31]:
with open(file_label, 'r') as f:
    x = f.read().splitlines()

In [32]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        list_of_lists.append(line.split('\t'))
    return list_of_lists

In [33]:
list_of_lists = get_list_of_lists(x)

In [34]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[0]:
            idx_list.append(idx)
    return idx_list

In [35]:
# Split list_of_lists to variable info list and varuable value list

In [36]:
hensu_joho_idx = search_index('変数情報')[0] # id of 変数情報

In [37]:
hensu_chi_idx = search_index('変数値')[0] # id of 変数値

In [38]:
# split the list of lists
list_of_lists_info = list_of_lists[hensu_joho_idx:hensu_chi_idx] # Contains value informaiotn
list_of_lists_val = list_of_lists[hensu_chi_idx:-1] # Contains value variables

In [39]:
list_of_lists_val_1st_elem = [item[0] for item in list_of_lists_val] # First elements in val list

In [40]:
list_of_vars_info = [item[0] for item in list_of_lists_info] # list of variables in the info list

In [41]:
list_of_vars_val  = [s for s in list_of_lists_val_1st_elem if s] # list of variables in the values list

In [74]:
# Can be used to replace column names
variables_list = [(item[0], item[2]) for item in list_of_lists_info[3:-1]]

In [76]:
variables_dict = dict(variables_list)

In [78]:
variables_dict

{'q1.1': '男子・卒業者数',
 'q1.2': '男子・進学者数',
 'q1.3': '男子・定時制高校への進学者数',
 'q1.4': '男子・就職者数',
 'q1.5': '男子・自家業手伝いながら進学',
 'q1.6': '男子・自家業手伝い',
 'q1.7': '男子・その他',
 'q2.1': '女子・卒業者数',
 'q2.2': '女子・進学者数',
 'q2.3': '女子・定時制高校への進学者数',
 'q2.4': '女子・就職者数',
 'q2.5': '女子・自家業手伝いながら進学',
 'q2.6': '女子・自家業手伝い',
 'q2.7': '女子・その他'}

In [80]:
df.rename(columns = variables_dict, inplace=True)

In [81]:
df

,gakkou,男子・卒業者数,男子・進学者数,男子・定時制高校への進学者数,男子・就職者数,男子・自家業手伝いながら進学,男子・自家業手伝い,男子・その他,女子・卒業者数,女子・進学者数,女子・定時制高校への進学者数,女子・就職者数,女子・自家業手伝いながら進学,女子・自家業手伝い,女子・その他
0,101,172,43,18,91,4,13,3,157,58,4,69,1,25,0
1,102,141,64,6,62,2,7,0,131,37,2,66,1,25,0
2,103,300,218,8,56,0,18,0,217,144,3,57,0,13,0
3,104,219,115,18,80,1,4,1,168,83,8,69,0,8,99
4,105,220,67,18,133,0,2,99,232,74,10,131,0,17,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,1308,52,30,3,11,1,7,0,50,22,0,14,0,14,0
184,1309,29,13,4,7,0,4,1,31,8,0,15,0,7,1
185,1310,27,6,1,4,4,12,0,14,4,0,8,0,2,0
186,1311,32,3,0,6,2,20,1,30,8,0,10,0,12,0
187,1312,23,8,0,7,2,5,1,25,6,0,11,0,7,1