In [51]:
import pandas as pd
import os

directory = '../../Data/School/0001'
file_name_label = '0001_otsu label.txt'

file_label = os.path.join(directory, file_name_label)

In [52]:
file_name_data = '0001_otsu.dat'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = '\t', error_bad_lines = False)

In [53]:
df

,gakkou,seibetu,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,q3.1,q3.2,...,q4.3.2,q6,q7,q8,q9.1.2,q9.2,q10,q11,q12,q13
0,101,1,2,,,,,,1,3,...,11,33,1,1000,2014,1,5650,2,4,
1,101,1,2,,,,,,1,2,...,4,36,10,1000,2013,1,5300,2,1,
2,101,1,5,,,,,,1,1,...,5,36,1,1000,2021,1,6700,2,1,
3,101,1,1,,,,,,2,2,...,5,36,1,1000,2011,1,6000,2,1,
4,101,1,5,,,,,,2,3,...,6,36,1,1000,2011,1,5800,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,1312,2,5,4,,,,,2,3,...,9,22,93,200,1074,9,3500,1,3,
13099,1312,2,5,4,,,,,2,2,...,7,22,93,200,1073,9,3500,1,3,
13100,1312,2,5,4,,,,,2,1,...,6,22,93,200,1073,9,3500,1,3,
13101,1312,2,5,4,,,,,2,2,...,7,22,150,120,1071,9,1000,1,9,
13102,1312,2,5,4,,,,,2,1,...,3,7,160,6,6014,2,0,1,5,

In [54]:
with open(file_label, 'r') as f:
    x = f.read().splitlines()

In [55]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        list_of_lists.append(line.split('\t'))
    return list_of_lists

In [56]:
list_of_lists = get_list_of_lists(x)

In [57]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[0]:
            idx_list.append(idx)
    return idx_list

In [58]:
# Split list_of_lists to variable info list and varuable value list

In [59]:
hensu_joho_idx = search_index('変数情報')[0] # id of 変数情報

In [60]:
hensu_chi_idx = search_index('変数値')[0] # id of 変数値

In [61]:
# split the list of lists
list_of_lists_info = list_of_lists[hensu_joho_idx:hensu_chi_idx] # Contains value informaiotn
list_of_lists_val = list_of_lists[hensu_chi_idx:-1] # Contains value variables

In [62]:
list_of_lists_val_1st_elem = [item[0] for item in list_of_lists_val] # First elements in val list

In [63]:
list_of_vars_info = [item[0] for item in list_of_lists_info] # list of variables in the info list

In [64]:
list_of_vars_val  = [s for s in list_of_lists_val_1st_elem if s] # list of variables in the values list

In [65]:
def search_keyword(keyword, list_of_lists = list_of_lists_info):
    variables = []
    for item in list_of_lists:
        if len(item) == 4:
            if keyword in item[2]:
                variables.append(item[0])
                
    # Remove empty elements
    variables = [item for item in variables if item]
    return variables

In [66]:
def return_next_var(var, list_of_vars):
    # Use list of variables, taken from var_info, return the next variable
    current_idx = list_of_vars.index(var)
    next_var = list_of_vars[current_idx + 1]
    return next_var

In [67]:
def get_dict(var, 
             list_of_lists = list_of_lists_val,
             list_of_lists_1st_elem = list_of_lists_val_1st_elem, 
             list_of_vars = list_of_vars_val):
    # Return dictionary for var
    
    dict = {}    
    idx = list_of_lists_1st_elem.index(var)    
    
    if var != 'q13':
        # Get the next variable using the list of variables in the values list
        next_var = return_next_var(var, list_of_vars)
    
        # Get the index for the list of lists of values        
        next_idx = list_of_lists_1st_elem.index(next_var)
        sublist = list_of_lists[idx:next_idx]
        
    else:
        sublist = list_of_lists[idx:]
    # Slice the list of lists
        
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [68]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [69]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [70]:
def replace_val_vars(var, df = df):
    dictionary = get_dict(var)
    df[var] = df[var].astype(str)
    df[var] = df[var].map(dictionary)

In [71]:
list_vars = list_of_vars_val[2:]

In [72]:
for var in list_vars:
    replace_val_vars(var)

In [73]:
df

,gakkou,seibetu,q2_1,q2_2,q2_3,q2_4,q2_5,q2_6,q3.1,q3.2,...,q4.3.2,q6,q7,q8,q9.1.2,q9.2,q10,q11,q12,q13
0,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,三男・三女,...,NaN,一金,川崎市,NaN,鍛冶工,養成工,NaN,通勤,知人,NaN
1,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,次男・次女,...,NaN,電機,横浜市鶴見区,NaN,鋳物工,養成工,NaN,通勤,学校と職安,NaN
2,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,...,NaN,電機,川崎市,NaN,電機器組立工,養成工,NaN,通勤,学校と職安,NaN
3,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,NaN,電機,川崎市,NaN,工作機械工,養成工,NaN,通勤,学校と職安,NaN
4,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取りでない,三男・三女,...,NaN,電機,川崎市,NaN,工作機械工,養成工,NaN,通勤,学校と職安,進学している
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,三男・三女,...,NaN,紡織,高座郡その他,NaN,その他の紡織関係職業,無回答,NaN,他出,職安,NaN
13099,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,NaN,紡織,高座郡その他,NaN,編立工,無回答,NaN,他出,職安,NaN
13100,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,...,NaN,紡織,高座郡その他,NaN,編立工,無回答,NaN,他出,職安,NaN
13101,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,NaN,紡織,東京都,NaN,織布工,無回答,NaN,他出,会社,NaN
13102,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,...,NaN,商業,その他の県,NaN,衣類仕立職,見習い,NaN,他出,家族,NaN

In [24]:
# Can be used to replace column names
variables_list = [(item[0], item[2]) for item in list_of_lists_info[3:-1]]

In [25]:
variables_dict = dict(variables_list)

In [26]:
variables_dict

{'seibetu': '性別',
 'q2_1': '選択科目・1',
 'q2_2': '選択科目・2',
 'q2_3': '選択科目・3',
 'q2_4': '選択科目・4',
 'q2_5': '選択科目・5',
 'q2_6': '選択科目・6',
 'q3.1': '跡取りか',
 'q3.2': '保護者との続柄',
 'q4.1': '保護者の職業',
 'q4.3.1': '家の生活程度',
 'q4.3.2': '家族数',
 'q6': '就職先の事業内容',
 'q7': '就職先の所在地',
 'q8': '就職先の規模',
 'q9.1.2': '本人の仕事の内容',
 'q9.2': '養成工か見習いか',
 'q10': '初任給',
 'q11': '他出か通勤か',
 'q12': '就職経路',
 'q13': '進学'}

In [27]:
df.rename(columns = variables_dict, inplace=True)

In [28]:
df

,gakkou,性別,選択科目・1,選択科目・2,選択科目・3,選択科目・4,選択科目・5,選択科目・6,跡取りか,保護者との続柄,...,家族数,就職先の事業内容,就職先の所在地,就職先の規模,本人の仕事の内容,養成工か見習いか,初任給,他出か通勤か,就職経路,進学
0,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,三男・三女,...,11,一金,川崎市,1000,鍛冶工,養成工,5650,通勤,知人,NaN
1,101,男子,工,NaN,NaN,NaN,NaN,NaN,跡取り,次男・次女,...,4,電機,横浜市鶴見区,1000,鋳物工,養成工,5300,通勤,学校と職安,NaN
2,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取り,長男・長女,...,5,電機,川崎市,1000,電機器組立工,養成工,6700,通勤,学校と職安,NaN
3,101,男子,商,NaN,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,5,電機,川崎市,1000,工作機械工,養成工,6000,通勤,学校と職安,NaN
4,101,男子,英,NaN,NaN,NaN,NaN,NaN,跡取りでない,三男・三女,...,6,電機,川崎市,1000,工作機械工,養成工,5800,通勤,学校と職安,進学している
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13098,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,三男・三女,...,9,紡織,高座郡その他,200,その他の紡織関係職業,無回答,3500,他出,職安,NaN
13099,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,7,紡織,高座郡その他,200,編立工,無回答,3500,他出,職安,NaN
13100,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,...,6,紡織,高座郡その他,200,編立工,無回答,3500,他出,職安,NaN
13101,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,次男・次女,...,7,紡織,東京都,120,織布工,無回答,1000,他出,会社,NaN
13102,1312,女子,英,家,NaN,NaN,NaN,NaN,跡取りでない,長男・長女,...,3,商業,その他の県,6,衣類仕立職,見習い,0,他出,家族,NaN