In [1]:
import pandas as pd
import os

directory = '../../Data/CareerHistory/0135'
file_name_label = '0135_honnin label.TXT'

file_label = os.path.join(directory, file_name_label)

In [2]:
file_name_data = '0135_honnin.csv'

file_data = os.path.join(directory, file_name_data)
df = pd.read_csv(file_data, sep = ',', error_bad_lines = False)

In [3]:
with open(file_label, 'r') as f:
    _x = f.read().splitlines()

In [4]:
def remove_empty_elements(x):
    x = [s for s in x if s]
    return x

In [5]:
x = remove_empty_elements(_x) # remove empty rows

In [6]:
def get_list_of_lists(x):
    # Return each row as a list
    list_of_lists = []
    for line in x:
        line = line.split(' ')
        line_0 = [line[0]]
        line_1 = remove_empty_elements(line[1:])
        list_of_lists.append(line_0 + line_1)
    return list_of_lists

In [7]:
list_of_lists = get_list_of_lists(x)

In [8]:
_list_of_vars = [item[0] for item in list_of_lists] # list of variables including empty rows

In [9]:
_list_of_vars = remove_empty_elements(_list_of_vars)

In [10]:
list_of_vars = _list_of_vars[2:]

In [11]:
def search_index(keyword, list_of_lists = list_of_lists):
    # Check if the keyword is in the list
    idx_list = []
    for idx, item in enumerate(list_of_lists):
        if keyword in item[1]:
            idx_list.append(idx)
    return idx_list

In [12]:
def search_keyword(keyword, list_of_lists = list_of_lists):
    variables = []
    for item in list_of_lists:
        if len(item) == 3:
            if keyword in item[1]:
                variables.append(item[0])
                
    # Remove empty elements
    variables = [item for item in variables if item]
    return variables

In [13]:
def return_next_var(var, list_of_vars = list_of_vars):
    # Use list of variables, taken from var_info, return the next variable
    current_idx = list_of_vars.index(var)
    next_var = list_of_vars[current_idx + 1]
    return next_var

In [14]:
def get_dict_orig(var, 
             list_of_lists = list_of_lists,
             list_of_lists_1st_elem = _list_of_vars, 
             list_of_vars = list_of_vars):
    # Return dictionary for var
    
    dict = {}
    # Get the next variable using the list of variables in the values list
    next_var = return_next_var(var)
    
    # Get the index for the list of lists of values
    idx = list_of_lists_1st_elem.index(var)
    next_idx = list_of_lists_1st_elem.index(next_var)
    
    # Slice the list of lists
    sublist = list_of_lists[idx + 6 : next_idx]
    
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [27]:
def get_dict(var, 
             list_of_lists = list_of_lists,
             list_of_lists_1st_elem = _list_of_vars, 
             list_of_vars = list_of_vars):
    # Return dictionary for var
    
    dict = {}
    
    idx = list_of_lists_1st_elem.index(var)

    if var != list_of_vars[-1]:
        # Get the next variable using the list of variables in the values list
        next_var = return_next_var(var, list_of_vars)
        
        # Get the index for the list of lists of values
        next_idx = list_of_lists_1st_elem.index(next_var)
    
        # Slice the list of lists
        sublist = list_of_lists[idx + 6 :next_idx]
    else:
        sublist = list_of_lists[idx + 6:]
    
    for item in sublist:
        new_dict = {item[1]:item[2]}
        dict.update(new_dict)
    return dict

In [28]:
def replace_val(var, df = df):
    dictionary = get_dict(var)
    df[var] = df[var].astype(str)
    df[var] = df[var].map(dictionary)

In [29]:
for var in list_of_vars:
    replace_val(var)

In [30]:
df

,ID,KEN,CITYSIZE,Q2,Q3,Q4.1.1,Q4.1.2,Q4.2.1,Q4.2.2,Q4.2.3,...,Q12O7,Q12P1.1,Q12P1.2,Q12P2,Q12P3,Q12P4,Q12P5,Q12P6.1,Q12P6.2,Q12P7
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,990115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4875,990116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4876,990117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4877,990118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4878,990119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
def replace_val(keyword, df = df):
    variables = search_keyword(keyword)
    dictionary = get_dict(variables[0])
    for item in variables:
        df[item] = df[item].astype(str)
        df[item] = df[item].map(dictionary)

In [20]:
idxs = [_list_of_vars.index(item) for item in list_of_vars][2:]

In [21]:
# Can be used to replace column names
variables_dict = [{list_of_lists[idx][0]:list_of_lists[idx][1]} for idx in idxs]

In [22]:
list_of_keywords = ['県', 
                    '地域特性',
                    'の性',
                    '職業の有無',
                    '産業中分類', 
                    '職業小分類',
                    '職業の有無',
#                    '従業上の地位',
                    '初職後通学の有無',
                    '初職前の最終学歴',    
                   ]

In [23]:
for keywords in list_of_keywords:
    replace_val(keywords)

In [24]:
for keyword in list_of_keywords:
    print(search_keyword(keyword))

['KEN']
['CITYSIZE']
['Q4.1.1', 'Q4.2.2', 'Q4.3.2', 'Q4.4.2', 'Q4.5.2', 'Q4.6.2', 'Q4.7.2', 'Q4.8.2', 'Q4.9.2', 'Q4.10.2', 'Q21.1', 'Q21.2', 'Q21.3', 'Q21.4', 'Q21.5']
['Q4.3.4', 'Q4.4.4', 'Q4.5.4', 'Q4.6.4', 'Q4.7.4', 'Q4.8.4', 'Q4.9.4', 'Q4.10.4', 'Q9']
['Q9.3', 'Q12A4', 'Q12B4', 'Q12C4', 'Q12D4', 'Q12E4', 'Q12F4', 'Q12H4', 'Q12I4', 'Q12J4', 'Q12K4', 'Q12L4', 'Q12M4', 'Q12N4', 'Q12O4', 'Q12P4']
['Q9.2', 'Q10.3', 'Q12A3', 'Q12A7', 'Q12B3', 'Q12B7', 'Q12C3', 'Q12C7', 'Q12D3', 'Q12D7', 'Q12E3', 'Q12E7', 'Q12F3', 'Q12F7', 'Q12H3', 'Q12H7', 'Q12I3', 'Q12I7', 'Q12J3', 'Q12J7', 'Q12K3', 'Q12K7', 'Q12L3', 'Q12L7', 'Q12M3', 'Q12M7', 'Q12N3', 'Q12N7', 'Q12O3', 'Q12O7', 'Q12P3', 'Q12P7']
['Q4.3.4', 'Q4.4.4', 'Q4.5.4', 'Q4.6.4', 'Q4.7.4', 'Q4.8.4', 'Q4.9.4', 'Q4.10.4', 'Q9']
['Q14']
['Q13.1']

In [25]:
df

,ID,KEN,CITYSIZE,Q2,Q3,Q4.1.1,Q4.1.2,Q4.2.1,Q4.2.2,Q4.2.3,...,Q12O7,Q12P1.1,Q12P1.2,Q12P2,Q12P3,Q12P4,Q12P5,Q12P6.1,Q12P6.2,Q12P7
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,990115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4875,990116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4876,990117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4877,990118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4878,990119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.to_csv('0135honnin.csv')